/******  GENERAL *******/

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/******  colors *******/

:root {
  --color-navbar-color: #ff6900;
  --color-banner-color-red: #ff0000;
  --color-banner-color-green: #008000;
  --color-primary-color: #ffffff;
  --color-secondary-color: #1a1a1a;
}

.navbar-background-color {
  background-color: var(--color-navbar-color);
}

.banner-background-color-red {
  background-color: var(--color-banner-color-red);
}

.banner-background-color-green {
  background-color: var(--color-banner-color-green);
}

.background-primary-color {
  background-color: var(--color-primary-color);
}

.background-secondary-color {
  background-color: var(--color-secondary-color);
}

.primary-color {
  color: var(--color-primary-color);
}

.secondary-color {
  color: var(--color-secondary-color);
}

/******  HEADER *******/

header {
  padding: 20px 0;
  box-shadow: 0 2px 5px var(--color-secondary-color);
  z-index: 1000;
  top: 0;
  right: 0;
}

nav ul li a {
  font-weight: 600;
  color: var(--color-primary-color);
  font-size: 1rem;
}

nav img {
  width: 10%;
  min-width: 100px;
}

.menu li a:hover {
  text-decoration: underline;
}

/************************  MAIN *******************************/

main {
  margin-top: 150px;
  margin-bottom: 50px;
}

.card {
  width: calc((100% - 40px) / 3);
}

.images:hover img:first-child {
  display: none;
}

.images:hover img:nth-child(2) {
  display: block;
}

/** banner **/

.heart {
  width: 50px;
  height: 50px;
  right: 0;
  top: 10px;
  line-height: 50px;
}

.heart:hover {
  color: var(--color-banner-color-red)
}

.discount {
  bottom: 40px;
  left: 0;
  font-weight: 600;
}

.description span[class*="red"] {
  font-weight: 600;
}

.padding-banner {
  padding: 5px;
}

/************************  FOOTER *******************************/

footer {
  padding: 40px 0;
}


footer ul li {
  display: inline-block;
  padding: 10px 10px 10px 0;
}

footer ul li a {
  color: var(--color-primary-color);
}

footer li a:hover {
  text-decoration: underline;
}

.social-icons {
  font-size: 2rem;
}